PORT=5000
MONGODB_URI=mongodb://localhost:27017/melody90
CLIENT_URL=http://localhost:5173
JWT_SECRET=your_jwt_secret_key_here
ADMIN_EMAIL=admin@90melody.com
ADMIN_PASSWORD=admin123
NODE_ENV=development
